.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.input{
    width: 85%;
    margin: 8px 0;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    display: flow-root;
    justify-content: center;
    align-items: center;

}